.boardCell {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.rowDiv {
    height: 32px;
    width: 100%;
}

.isSnake {
    background-color: forestgreen;
}

.isFood {
    background-color: red;
}
body {
	background-color:azure;
}