body {
    margin: 0;
    color: #333333;
    font-family: 'Arial';
}
ul {
    padding: 0;
    margin: 0;
}
a 
{ 
    text-decoration: none;
    color: #333333;
}
table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
    text-align:left;
}
h1 { 
font-size: 45px; 
}
h1, h5 {
    font-weight: normal;
}
h5 { 
line-height: 20px;
}

.header-top { 
background-color: #222222;
height: 80px;
}
.main-content,
body > section > div, 
body > header > section > div,
body > footer > section > div {
    max-width:1150px;
    max-width:900px;
    width:100%;
    margin:0 auto;
	 
}
.logo img { 
 height: 80px;
}
.login {
    float:right;
    margin-top: 25px;
}
.login input, .login button { 
    line-height: 34px;
    padding: 0 14px;
    border: 0;
    border-radius: 3px;   
}
.login button { 
background-color: #5db85b;
    color:white;
}
 a.button.blue  {

	display: block;
	padding: 0 14px;
	line-height: 34px;
	width: 120px;
	border-radius: 3px;
	color: white;
	background-color: #347ab8;  
}
a.button.blue:hover {
    background-color: blue;
}
 a.button.gray  {

	display: block;
	padding: 0 14px;
	line-height: 34px;
	width: 120px;
	border-radius: 5px;
	color: black;
	background-color: #fff; 
	border: 1px solid;
	border-color:#cacaca;
 }
a.button.gray:hover {
     background-color: blue;
}
.menu li {
    text-align:center;
    list-style-type: none;
   
}
.menu ul {
    display:flex;
    justify-content: flex-start;

    
}
.menu a { 
    padding: 16px 15px;
    display:block;
}
.menu li a:hover, .menu a.active { 
    background-color: #e7e7e7;
}
    .header-bottom { 
        background-color: #f8f8f8;
}
.slider {
	background-color: #eeeeee;
	padding:40px 0;
    
}
.slogan { margin: 25px 0 0 0;
}
.article div article {
	display: inline-block;
	vertical-align: top;
	width: 29%;
	padding-right:4%;
}
.article1, .article2, .article3 {
	margin-top: 35px;
}

article section { 
min-height: 350px; 
}

.main-content { 
display:table;
margin: 50px, auto 0 auto;
border-top: 1px solid #dddddd;
padding:50px 50px;

}
.main-content > div {
    display: table-row;
}

.main-content .left,
.main-content .right {
    display: table-cell;
    vertical-align: top;
}
.main-content .left {
    width: 70%;
    padding-right: 50px;
}
.main-content .right {
    width:30%;
    padding-top:25px;
}
.site_image {
    background:url(../img/lisc.jpg);
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
table td {
    border-top: 1px solid black;
     padding: 13px 20px;
}
table td:first-child {
    fotn-weight:bold;
}
table th {
    padding: 13px 20px;
}
tbody tr td { 
    border-top:2px solid#DDDDDD;
}slick-prev
body > footer {
    background:#eeeeee;
    padding:25px;
    text-align:center;   
}
.slick-slider, .slick-slide {
    height: 300px;
}
.slick-slide img { 
    width: 100%;
}
    .slick-slider .slick-arrow {
        position:absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        margin: auto;
        height:30px;
    }
.slick-slider .slick-next {
    right:0;
}
.slick-slider .slick-dots {
        position:absolute;
        bottom: 0;
        right: 0;
        left:0 ;
        top: 0;
        margin: auto;
        width:200px;  
        text-align:center;
}
.slick-slider .slick-dots li {
    display:inline-block;
}
.slick-slider .slick-dots li button {
    border-radius: 100%;
    border:0;
    text-indent: -5000px;
    width: 17px;
}

.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li:hover button {
    background: #2e7cbe;
    cursor: pointer;
    outline:none;
}
@media only screen and (max-width: 1024px) {
        body > section,
        .slider,
        main-content
        { 
        padding-right: 30px;
        padding-left:30px;
            }
        .article div article {
            width: 100%;
        }
        article section {
            min-height: auto;
        }
        .menu ul {
            display: block;
        }
        menu { 
        display:block;}
        }
.login input {
    line-height: 34px;
    padding: 0 14px;
    border: 
}
        
}
.login {
        float:none;
        text-align:center;
        }

.menu {
text-align:right;
    display:none;
} 
.fa-bars {
    padding: 7px;
    font-size: 30px;
    margin:20px;
    border: 1px solid #ddd;
}
.fa-bars:hover {
    background-color: black;
    color:white;
}

