
#imageContainer{
    width: 847px;
    height: 94px;
    margin: 0 auto;
    
}
body { 
    padding-bottom: 70px; 
    background-color: #2196F3;
}
.navbar-header{
	float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-size: 25px;
	}

.navbar-brand{
	font-size: 30px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 55px;
    margin-right: 20px;
   float: none;
    
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-brand:hover {
  	color: #2196F3;
}