body {
	padding-bottom: 50px;
	background-color: #2196F3;
}

.statistic table, th, td {
	border: 2px solid #2196F3;
}


.statistic, .statistic th, .statistic td{
	background-color: #f8f8f8;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.statistic {
	margin-left: 15px;
}
.statistic th{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.statistic td{
	text-align: center;
}
.navbar-brand{
	font-size: 25px;
}

